<h1>Dashboard</h1>
{{#if loggedIn}}
{{#each plainPosts as |post|}}
{{> postPreview}}
{{/each}}
<a href="/dashboard/new"><button class="btn btn-outline-primary new-post col-2" id="newPost">New Post</button></a>

{{else}}
<p>Please <span><a href="/login">log in</a></span> to view your dashboard</p>
{{/if}}
