{{!-- Takes a Post object --}}
<section class="post-full">
    <section class="card post-preview m-3">
        <div class="card-header d-flex flex-row justify-content-between">
           <textarea class="post-body w-100" id="edit-title">{{plainPost.title}}</textarea>
        </div>
        <div class="card-body">
            <textarea class="post-body w-100" id="edit-body">{{plainPost.body}}</textarea>
        </div>
    </section>

<button class="btn btn-outline-primary new-post col-2" id="edit-button">Save Post</a></button>
<button class="btn btn-outline-primary new-post col-2" id="delete-button">Delete Post</a></button>

<script src = "/js/editPost.js"></script>