<section class="login">
    <h2>Login</h2>
    {{!-- TODO Use action and method to make post request and redirect --}}
    <form class="login-form">
        <label for="login-username">Username: </label>
        <input type="text" id="login-username" name="login-username">
        <label for="login-password">Password: </label>
        <input type="password" id="login-password" name="login-password">
        <button type="submit">Login</button>
    </form>
{{!-- TODO add a route for signup, pass the URL here --}}
    <p><a href="">Sign up instead</a></p>
</section>