<section class="login">
    <h2>Login</h2>
    <form class="login-form">
        <label for="login-username">Username: </label>
        <input type="text" id="login-username" name="login-username">
        <label for="login-password">Password: </label>
        <input type="password" id="login-password" name="login-password">
        <button type="submit" id="loginButton">Login</button>
    </form>
    <p><a href="/signup">Sign up instead</a></p>
</section>
<script src="/js/login.js"></script>