
<section class="signup">
    <h1>Signup</h1>
    <form class="signup-form">
        <label for="username-signup"  class="form-label">Username:</label>
        <input class="form-input form-control" type="text" id="username-signup">
        <label for="email-signup"  class="form-label">Email:</label>
        <input class="form-input form-control" type="text" id="email-signup">
        <label for="password-signup"  class="form-label">Password:</label>
        <input class="form-input form-control" type="password" id="password-signup">
        <button class="btn btn-outline-primary" type="submit" id="signupButton" class="btn btn-outline-primary m-1">Sign Up</button>
    </form>        
    <p><a href="/login">Log in instead</a></p>

</section>
<script src="/js/signup.js"></script>